<div class="contact">
    <h1>contact</h1>
    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi ullam voluptatibus atque! Nemo earum itaque inventore sit recusandae quos doloremque eligendi tempora iste explicabo sapiente, quisquam ducimus aspernatur voluptates non.</h3>
    <form class="form">
        <div class="input">
            <h3>Your Email</h3>
        <input class="form-control" type="text"></input>
        </div>
        <div class="input">
            <h3>Your message</h3>
        <input class="form-control" type="text"></input>
        </div>
    </form>
</div> 