<div class="head1">
    <div>
        <h2>
            my first heading 

        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam modi officiis tempore repellat tenetur incidunt qui excepturi alias aspernatur quae! Temporibus quibusdam nam suscipit ab, quam officia quidem pariatur nisi.
        </p>
    </div>
<img class="headimg" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2Fc%2Fc%2F2%2F679702.jpg&f=1&nofb=1&ipt=f91c6df1bb796694efe15db988d9c1bcb350d0922c157b516c97c25e0e35c88b&ipo=images" />
</div>

<br>

<!-- {2nd heading} -->


