<div class="maincard">
    <h2>portfolio</h2>
    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, dolore id quis quibusdam, nesciunt sed illum tenetur ipsa incidunt et temporibus reiciendis? Iste, perferendis cupiditate facere quam maxime perspiciatis aut.</h3>
    <div class="cardholder">
        <div class="card" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F114345.jpg&f=1&nofb=1&ipt=e2b5e3df5a622335eb547188b7c72939b2ed37883739c72d5529849e5048c768&ipo=images" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F114345.jpg&f=1&nofb=1&ipt=e2b5e3df5a622335eb547188b7c72939b2ed37883739c72d5529849e5048c768&ipo=images" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>    <div class="card" style="width: 18rem;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F114345.jpg&f=1&nofb=1&ipt=e2b5e3df5a622335eb547188b7c72939b2ed37883739c72d5529849e5048c768&ipo=images" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
