<div class="head1">
    <img class="headimg" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fgetwallpapers.com%2Fwallpaper%2Ffull%2F5%2F1%2Fb%2F884761-free-download-cool-nature-desktop-backgrounds-1920x1140-meizu.jpg&f=1&nofb=1&ipt=a857fee1d9c4c46140afc4072623ea0de25132a3c8fa0590e4f41c9eb7efe46a&ipo=images" />
    <div>
        <h2>
            my first heading 

        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam modi officiis tempore repellat tenetur incidunt qui excepturi alias aspernatur quae! Temporibus quibusdam nam suscipit ab, quam officia quidem pariatur nisi.
        </p>
    </div>

</div>


